<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    {% include 'accstore_app/elements/head/head.html' %}
    {% endblock %}
</head>
<body>
{% block auth %}
{% if request.user %}
<p>Hello {{ request.user }}!</p>
<a href="{% url 'logout' %}">Выйти</a>
{% else %}
<a href="{% url 'login' %}">Войти</a>
<a href="{% url 'register' %}">Регистрация</a>
{% endif %}
{% endblock %}
{% block content %}
{% include 'accstore_app/elements/content/games_with_objects.html' %}
{% endblock %}

{% block nav %}
{% include 'accstore_app/elements/nav.html' %}
{% endblock %}
</body>
</html>