<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>game-store.pro</title>
</head>
<body>
{% for game in games %}
<div>
    <h2><a href="{{ game.get_absolute_url }}">{{ game }}</a></h2>
    {% for object in game.g_objects.all %}
    <span><a href="{% url 'game_object' game.slug object.slug %}">{{ object.plural_name }}</a></span>
    {% endfor %}
</div>
{% endfor %}

<nav>
    <ul>
        {% for p in paginator.page_range %}
        {% if p == page.number %}
        <a>{{ p }}</a>
        {% else %}
        <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

</body>
</html>