{% extends 'base.html' %}

{% block content %}
<p>Personal page of <b>{{ target_user }}</b></p>
{% if request.user and request.user != target_user %}
<form method="POST" action="{% url 'send_message' %}">
    <input type="hidden" name="chat_id", value="{{ chat_id }}">
    {% csrf_token %}
    {{ chat_form.as_p }}
    <input type="submit" value="Отправить">
</form>
{% endif %}

{% for message in messages %}
<p><b>{{ message.user }}:</b> {{ message }}</p>
{% endfor %}

{% if target_user.role.role == roles.seller %}

<p>Товары <b>{{ target_user }}</b></p>
{% include 'accstore_app/elements/content/products.html' %}

{% endif %}
{% endblock %}
